include ../mixins/flash-messages

doctype html
html

	head
		title= page.title

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/style.css", rel="stylesheet")

	body(class=section ? 'section-' + section : null)
		+flash-messages(messages)

		block content

		//- script(src='/js/app.js')
